body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: url(images/pexels-lucie-liz-3165335.jpg);
    background-size: cover;
    height:  100vh;
}



.Header{
    background-color: rgba(125, 32, 161, 0.7);
    backdrop-filter: blur(7px);
    height: 80px;
    width: 100%;
    
}



.HeaderButtons{
    float: right;
    margin-right: 750px;
}

.HeaderButtons li{
    display: inline-block;
    margin-right: 15px;
    margin-top: 7px;
    padding-right: 30px;
    
}

li a:hover{
    border: 5px solid rgb(83, 13, 83);
    padding: 5px 5px;
    border-radius: 15px;
}

.HeaderButtons li a{
    font-size: 30px;
    color: white;
    text-decoration: none;
}

li a.active{    
    color: rgb(125, 32, 161);
    background: white;
    padding: 5px 20px;
    border-radius: 50px;
}

#logo{
    width: 60px;
    margin-left: 40px;
    margin-top: 10px;
    border-radius: 50px;
}

.Blog{
    background-color: rgba(23, 25, 134, 0.7);
    backdrop-filter: blur(7px);
    height: 87%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    overflow: auto;
    position: absolute;
}

.BlogPosts button{
    margin-top: 2%;
}

.BlogPosts button:hover{
    border: 5px solid gold;
    cursor: pointer;
}

.BlogPosts li span{
    background-color: white;
    padding: 5px 10px;
    border-radius: 15px;
}
.BlogPosts li{
    color: rgb(125, 32, 161);
    font-size: 24px;
}

.BlogPosts ul{
    list-style-type: none;
    
}

.BlogPosts p{
   margin-left: 20px; 
   font-size: 24px;
   color: white;
}

.BlogPosts ul a{
    text-decoration: none;
    color: rgb(125, 32, 161);
}

.BlogPosts{
   line-height: 35px;
   display: inline-block;
   margin-top: 50px;
   margin-right: 30px;
   z-index: 1;
}


.Week1{
    background-color: purple;
    box-shadow: 10px 10px 5px;
    border-radius: 25px;
}

.Week2{
    background-color: purple;
    box-shadow: 10px 10px 5px;
    border-radius: 25px;
}

.Week3{
    background-color: purple;
    box-shadow: 10px 10px 5px;
    border-radius: 25px;
}

.Week4{
    background-color: purple;
    box-shadow: 10px 10px 5px;
    border-radius: 25px;
}

.Week7{
    background-color: purple;
    box-shadow: 10px 10px 5px;
    border-radius: 25px;
}

ul p{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 12px;
}

.BlogPosts article:hover{
    border: 5px solid rgb(19, 96, 211);
}