body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: url(pexels-lucie-liz-3165335.jpg);
    background-size: cover;
    height:  100vh;
    width: 100vw;
}

.Header{
    background-color: rgba(125, 32, 161, 0.7);
    backdrop-filter: blur(7px);
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
}




li a:hover{
    border: 5px solid rgb(83, 13, 83);
    padding: 5px 5px;
    border-radius: 15px;
}

.HeaderButtons li{
    display: inline-block;
    margin-right: 15px;
    margin-top: 7px;
    padding-right: 30px;
    
}

.HeaderButtons li a{
    font-size: 30px;
    color: white;
    text-decoration: none;
}

li a.active{    
    color: rgb(125, 32, 161);
    background: white;
    padding: 5px 20px;
    border-radius: 50px;
}

#logo{
    width: 65px;
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.Blog{
    background-color: rgba(23, 25, 134, 0.7);
    backdrop-filter: blur(7px);
    height: 100vh;
    width: 100vw;   
    margin-top: 20px;
    display: block;
    
    line-height: 40px;
    overflow: auto;
}

#Week10heading{
    padding: 10px 30px;
    border-radius: 40px;
    color: white;
    font-weight: bold;
    margin-left: 30%;
    margin-top: 15%;
}

.Week10BlogPost{
    margin-top: 20px;
    margin-left: 20px;

}

.Week10BlogPost p{
    color: white;
    margin-left: 20px;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

#Back{
    color: white;
    background-color: rgb(0, 60, 255);
    padding: 10px 15px;
    border-radius: 25px;
    font-size: 24px;
    text-decoration: none;
}

#Back:hover{
    border: 5px solid gold;
    cursor: pointer;
}

#BackLink{
    text-decoration: none;
}