body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: url(pexels-lucie-liz-3165335.jpg);
    background-size: cover;
    height:  100vh;
}

.Header{
    background-color: rgba(125, 32, 161, 0.7);
    backdrop-filter: blur(7px);
    height: 80px;
    width: 100%;
}



.HeaderButtons{
    float: right;
    margin-right: 740px;
}

li a:hover{
    border: 5px solid rgb(83, 13, 83);
    padding: 5px 5px;
    border-radius: 15px;
}

.HeaderButtons li{
    display: inline-block;
    margin-right: 15px;
    margin-top: 7px;
    padding-right: 30px;
    
}

.HeaderButtons li a{
    font-size: 30px;
    color: white;
    text-decoration: none;
}

li a.active{    
    color: rgb(125, 32, 161);
    background: white;
    padding: 5px 20px;
    border-radius: 50px;
}

#logo{
    width: 60px;
    margin-left: 40px;
    margin-top: 10px;
    border-radius: 50px;
}

.Blog{
    background-color: rgba(23, 25, 134, 0.7);
    backdrop-filter: blur(7px);
    height: 110%;
    width: 87%;   
    margin-top: 20px;
    display: flex;
    margin-left: 100px;
    margin-right: 200px;
    line-height: 40px;
}

#Week3heading{
    background-color: white;
    padding: 10px 30px;
    border-radius: 40px;
    color: rgb(125, 32, 161);
    margin-left: 260px;
}

.Week3BlogPost{
    margin-top: 20px;
    margin-left: 20px;

}

.Week3BlogPost p{
    color: white;
    margin-left: 20px;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

#Back{
    color: white;
    background-color: rgb(0, 60, 255);
    padding: 10px 15px;
    border-radius: 25px;
    font-size: 24px;
    text-decoration: none;
}

#Back:hover{
    border: 5px solid gold;
    cursor: pointer;
}

#BackLink{
    text-decoration: none;
}